*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.top-section{
    max-height: 56px;
    padding: 0px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.logos{
    height: 56px;
    width: 160px;
    display: flex;
    align-items: center;
}
.logos i{
    font-size: 24px;
    padding: 16px;
}
.logos svg{
   height: 36px;
   width: 160px; 
}

.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input{
    flex: 1;
    font-size: 16px;
    font-family: roboto,Arial, sans-serif;
    border: 1px solid rgb(212, 212, 212);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    outline: none;
    width:544px ;
    height:40px ;
    padding: 0px 4px 0px 16px;
}
button{
    background-color: #f7f7f7;
    height: 40px;
    width: 64px;
    border: 1px solid rgb(212, 212, 212);
    border-left: none;
    padding: 1px 6px;
    font-size: 21px;
    cursor: pointer;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.mic{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 18px;
}

.profile{
    height: 40px;
    width: 156px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.prof-icon{
    height: 40px;
    width: 40px;
    padding: 8px;
}
.prof-icon i{
   font-size: 20px;
}
.prof-icon-main{
    height: 34px;
    width: 60px;
    padding: 1px 6px;
}
.prof-icon-main img{
    border-radius: 50%;
}


.side-section{
    margin-top:8px;
    width: 432px;
    display: flex;
    float: right;
    flex-direction: column;
    height: max-content;
    background-color: green;
}
.videos img{
    width: 176px;
    height: 100px;
    border-radius: 8px;
}
.main-section{
    margin: 0px 0px 0px 24px;
    padding: 24px 24px 0px 0px;
    width: 832px;
    height: max-content;
}
    
.main-section iframe{
    width: 832px;
    height: 456px;
}













