*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*----top section styling--*/
.top-section{
    height: 56px;
    padding: 0px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
      
}
.logos{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    padding: 18px 19px 18px 20px;
}
.logo img{
    height: 20px;
    width: 90px;

}
.menu-bar{
    padding: 8px;
}
.fa-bars{
    font-size: 20px;
   line-height: 20px;
}
.logos svg{
   height: 38px;
   width: 160px; 
}

.search{
    width: 598px;
    height: 40px;
    display: flex;
    align-items: center;
     
}
.input-search{
    display: flex;
    align-items: center;
    height: 40px;
    width: 410px;
    border: 1px solid rgb(212, 212, 212);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-right: none;
    border-top-right-radius: none;
    border-bottom-right-radius: none;
    padding: 0px 4px 0px 16px;
    margin-left: 32px;
   
}

input{
    padding: 1px 0px;
    font-size: 16px;
    width:389px ;
    height:26px ;
    outline: none;
    border: none;  
}
.search-btn{
  padding: 4px;  
}
button{
    background-color: #f7f7f7;
    height: 40px;
    width: 64px;
    padding: 1px 6px;
    font-size: 21px;
    cursor: pointer;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 1px solid rgb(212, 212, 212);
   
}

.mic{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 18px;
}

.profile{
    height: 40px;
    width: 156px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.prof-icon{
    height: 40px;
    width: 40px;
    padding: 8px;
}
.prof-icon i{
   font-size: 20px;
}
.prof-icon-main{
    height: 34px;
    width: 60px;
    padding: 1px 6px;
}
.prof-icon-main img{
    border-radius: 50%;
}


/*-----side section styling----*/
.side-section{
    width:336px;
    display: flex;
    float: right;
    flex-direction: column;
    height: max-content; 
    padding: 24px 24px 0px 0px;   
    background-color:green;
   
}
.videos-header{
    width: 312px;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid  rgb(180, 180, 180);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
   
}
.icons select{
    border: none;
}
.videos img{
    width: 176px;
    height: 100px;
    border-radius: 8px;
}

/*----main section styling---*/
.main-section{
    margin: 0px 0px 0px 24px;
    padding: 24px 0px 0px 0px;
    width: 640px;
    background-color: yellow;
    
}
    
.main-section iframe{
    width: 640px;
    height: 360px;

}













